.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 20px;
  border-bottom: 1px solid #ccc;
  background-color: var(--color-bg);
}

.filtered {
  display: flex;
}

.filtered li {
  display: flex;
  align-items: center;
  padding: 0 .5rem 0 0;
}

.filtered button { 
  position: relative;
  margin-right: 3px;
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-text);
}

.filtered .count { 
  display: inline-block;
  width: 20px;
  height: 16px;
  border-radius: 10px;
  background-color: var(--color-accent);  
  font-size:.6rem;
  color: var(--color-accent-text);
  line-height: 16px;
  text-align: center;
}

.filtered .active button::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: var(--color-text);  
}

.mode {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  color: var(--color-accent);
  font-weight: 600;
}