.footer {
  margin-top: auto;  
  padding: 20px;
  background-color: var(--color-bg);
}

.footer .form {
  display: flex;
  align-items: center;
}

.footer .form input[type="text"] {
  flex: 1 0 auto;
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  color: #666;
  line-height: 34px;
}

.footer .form button {
  width: 70px;
  height: 36px;
  padding: 0 .5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--color-accent);
  font-size: 1rem;  
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.footer .form button:hover {
  filter: brightness(120%);
}

.footer .form .edit {
  border-radius:  0;
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.dark.footer {
  background-color: var(--color-bg-dark);
}