.todolists {
  flex: 1 1 auto;
  padding: 1.5rem 1rem;
  background-color: var(--color-bg2);
  overflow-y: auto;
}

.todolists li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todolists li input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: .5rem;
}

.todolists li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todolists li label {
  flex: 1 1 0%;
  color: var(--color-text);
  text-align: left;
}

.todolists .utils {
  margin-left: auto;
}

.todolists .utils button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: .5rem;
  background-color: #eee;
  border-radius: 100%;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.todolists .utils button:disabled {
  cursor: default;
}