.todolists {
  height: 100%;
  padding: 1.5rem 1rem;
  overflow-y: auto;
}

.todolists li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todolists li input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: .5rem;
}

.todolists li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todolists .utils {
  margin-left: auto;
}

.todolists .utils button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: .5rem;
  background-color: #eee;
  border-radius: 100%;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.todolists .utils button:disabled {
  cursor: default;
}

.dark.todolists {
  background-color: #3c6077;
}

.dark.todolists li {
  color: #fff;
}

.dark.todolists .utils button {
  background-color: rgba(238, 238, 238, .1);
  color: #fff;
}