* {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ebebeb;
  --color-bg2: #fff;
  --color-accent: chocolate;
  --color-accent-text: #fff;
  --color-text: #222;
}

html.dark {
  --color-bg: #385669; 
  --color-bg2: #3c6077;
  --color-text: #fff;
  --color-accent: #fdc407;  
  --color-accent-text: #222;
}

html, body, #root {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:visited {
  color: #666
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.App-container {
  display: flex;
  height: 100%;
}

.App-todo {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 480px;
  overflow: hidden;
  margin: auto;
  accent-color: var(--color-accent);
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.5);
  text-align: center;
}