* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:visited {
  color: #666
}

.App-container {
  display: flex;
  height: 100%;
}

.App-todo {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 480px;
  overflow: hidden;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
}